.neon-header
  align-items: center
  border-bottom: 1px solid $grey
  display: flex
  flex-direction: row
  height: auto
  justify-content: space-between
  padding: 0 25px

  &__logo
    height: 36px
    margin: 17px 0 15px

  &__back
    font-size: 0