mixin card
    .neon-card
        img.neon-card__biometry(src="./assets/images/icone_biometria.png" alt="biometria")
        h2.neon-card__title biometria
        p.neon-card__description Reconhecimento por selfie ou digital, tudo pra oferecer o máximo de segurança.
        button.terciary-button saiba mais
