.checkbox-group-container
    label.checkbox-title
        input.input(type="checkbox" value="")
        | Transaction
    a.collapse-checkboxes
        +iconChevronDown
    .checkbox-group
        label.checkbox-child
            input.input(type="checkbox" value="")
            | Lorem ipsum
        label.checkbox-child
            input.input(type="checkbox" value="")
            | Lorem ipsum
        label.checkbox-child
            input.input(type="checkbox" value="")
            | Lorem ipsum