mixin footer
    footer.neon-footer
        .neon-footer__address
            p.neon-footer__address__address-line Banco Neon S.A. - CNPJ 00.253.448/0001-17
            p.neon-footer__address__address-line Av. Raja Gabaglia, 1143/17°andar - CEP: 30380-403
            p.neon-footer__address__address-line Luxemburgo - Belo Horizonte - MG

        .neon-footer__phone
            span.neon-footer__phone__label atendimento
            a.neon-footer__phone__number(href="tel:0800-606-7688") 0800-606-7688

        ul.neon-footer__social
            li.neon-footer__social__item
                a.neon-footer__social__link(href="http://www.facebook.com/banconeon/" target="_blank" title="Facebook Banco Neon")

            li.neon-footer__social__item
                a.neon-footer__social__link(href="http://twitter.com/banconeon" target="_blank" title="Twitter Banco Neon")

            li.neon-footer__social__item
                a.neon-footer__social__link(href="http://youtube.com/channel/UCh0hogVKGu8Wx5i6lwudPEg" target="_blank" title="Youtube Banco Neon")

            li.neon-footer__social__item
                a.neon-footer__social__link(href="http://www.instagram.com/banconeon/" target="_blank" title="Instagram Banco Neon")

            li.neon-footer__social__item
                a.neon-footer__social__link(href="http://www.linkedin.com/company/banconeon" target="_blank" title="Linkedin Banco Neon")