include icons

mixin header
    header.neon-header
        a.secondary-button.neon-header__back(href="#voltar") voltar
            +icon-arrow
        a.neon-header__logo-link(href="https://banconeon.com.br")
            +logo
        a.primary-button.neon-header__download-app(href="#baixe-o-app")
            +icon-download
            | baixe o app