mixin hero
    section.neon-hero
        .neon-hero__background
            img.neon-hero__background__desktop(src="./assets/images/hero-photo-large.png")
            img.neon-hero__background__mobile(src="./assets/images/hero-photo.png")

        p.neon-hero__title
            span.light Tipo um banco,
            span.extra-bold sรณ que mais seguro
